#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define ______ &trans
#define xxxxxx &none

#define DEFAULT 0
#define GAME 1
#define NAV 2
#define FUN 3
#define NUM 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        tm: thumb_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc   { timeout-ms = <35>; key-positions = <14 15>; bindings = <&kp ESC>; layers = <0 1 2>; };
        combo_caps  { timeout-ms = <40>; key-positions = <47 48>; bindings = <&kp CAPS>; layers = <0 1 2>; };
        combo_del   { timeout-ms = <40>; key-positions = <39 40>; bindings = <&kp DEL>; layers = <0 1 2>; };
        combo_space { timeout-ms = <70>; key-positions = <15 42>; bindings = <&kp SPACE>; layers = <0 1 2>; };
    };

    macros {
        alt_f: alt_f { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp F>, <&macro_release &kp RALT>; };
        alt_g: alt_g { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp G>, <&macro_release &kp RALT>; };
        alt_q: alt_q { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp Q>, <&macro_release &kp RALT>; };
        alt_w: alt_w { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp W>, <&macro_release &kp RALT>; };
        alt_v: alt_v { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp V>, <&macro_release &kp RALT>; };
        alt_b: alt_b { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp B>, <&macro_release &kp RALT>; };
        alt_n: alt_n { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp N>, <&macro_release &kp RALT>; };
        under: under { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp FSLH>, <&macro_release &kp LSHFT>; };
        star:  star  { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp EQUAL>, <&macro_release &kp LSHFT>; };
        tilde: tilde { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp N1>, <&macro_release &kp RALT>; };
        apos:  apos  { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N2>, <&macro_release &kp LSHFT>; };
        qmark: qmark { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp MINUS>, <&macro_release &kp LSHFT>; };
        excla: excla { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N1>, <&macro_release &kp LSHFT>; };
        equal: equal { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N0>, <&macro_release &kp LSHFT>; };
        more:  more  { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp COMMA>, <&macro_release &kp RALT>; };
        less:  less  { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp DOT>, <&macro_release &kp RALT>; };
        eur:   eur   { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp RALT>, <&macro_tap &kp E>, <&macro_release &kp RALT>; };
        shift_1: shift_1 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N1>, <&macro_release &kp LSHIFT>; };
        shift_2: shift_2 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N2>, <&macro_release &kp LSHIFT>; };
        shift_3: shift_3 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N3>, <&macro_release &kp LSHIFT>; };
        shift_4: shift_4 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N4>, <&macro_release &kp LSHIFT>; };
        shift_5: shift_5 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N5>, <&macro_release &kp LSHIFT>; };
        shift_6: shift_6 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N6>, <&macro_release &kp LSHIFT>; };
        shift_7: shift_7 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N7>, <&macro_release &kp LSHIFT>; };
        shift_8: shift_8 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N8>, <&macro_release &kp LSHIFT>; };
        shift_9: shift_9 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N9>, <&macro_release &kp LSHIFT>; };
        shift_0: shift_0 { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp N0>, <&macro_release &kp LSHIFT>; };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1       &kp N2       &kp N3        &kp N4         &kp N5                                &kp N6        &kp N7         &kp N8        &kp N9       &kp N0          &kp PG_UP
&kp TAB    &kp Q        &kp W        &kp E         &kp R          &kp T                                 &kp Y         &kp U          &kp I         &kp O        &kp P           &kp LBKT
&kp LSHFT  &hm LGUI A   &hm LALT S   &hm LCTRL D   &hm LSHFT F    &kp G                                 &kp H         &hm RSHFT J    &hm RCTRL K   &hm RALT L   &hm RGUI SEMI   &kp BSLH
&kp LCTRL  &kp Z        &kp X        &kp C         &kp V          &kp B   &kp BSPC            &kp SPACE &kp N         &kp M          &kp COMMA     &kp DOT      &kp FSLH        &kp RSHFT
                         xxxxxx        &kp LALT     &kp LGUI       &tm 2 ENTER                   &mo 4       &mo 3         &none          xxxxxx
            >;
        };

        game_layer {
            bindings = <
______    &kp N1       &kp N2       &kp N3        &kp N4         &kp N5                          ______        ______        ______        ______        ______        ______
______    &kp Q        &kp W        &kp E         &kp R          &kp T                           ______        ______        ______        ______        ______        ______
______  &kp A        &kp S        &kp D         &kp F          &kp G                           ______        ______        ______        ______        ______        ______
______  &kp Z        &kp X        &kp C         &kp V          &kp B   &kp BSPC      ______    ______         ______        ______        ______        ______        ______
                         xxxxxx        &kp RALT      &kp LCTRL      &kp LALT                    ______        ______        &to 0     xxxxxx
            >;
        };

        nav_layer {
            bindings = <
______    &kp N6        &kp N7         &kp N8        &kp N9       &kp N0                                   ______        ______         ______        ______       ______          ______
______     &alt_q       &alt_w       &kp UP        &shift_3       &kp STAR                                 &kp LPAR      &shift_7       &shift_5      &kp EQUAL    &star           xxxxxx
______     &none        &kp LEFT     &kp DOWN     &kp RIGHT       &alt_f                                   &alt_g       &apos        &kp MINUS      &qmark        &excla           xxxxxx
______     xxxxxx      &kp HOME      &kp END        &alt_v       &alt_b     &kp BSPC                 ______    &alt_n      &equal           &more        &less     &shift_6          &kp RSHFT
                         xxxxxx       xxxxxx        xxxxxx         xxxxxx                             ______        ______       ______         ______
            >;
        };
        fun_layer {
            bindings = <
 ______       &kp F1         &kp F2        &kp F3        &kp F4          xxxxxx                          &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3         xxxxxx         &bt BT_CLR
 ______       &kp F5        &kp F6        &kp F7        &kp F8         xxxxxx                             &kp C_VOL_UP        &kp C_PREV    &kp C_PP      &kp C_NEXT          xxxxxx         xxxxxx
 ______       &kp F9        &kp F10       &kp F11       &kp F12         xxxxxx                             &kp C_VOL_DN         xxxxxx         xxxxxx         xxxxxx         xxxxxx        &to 1
 ______       xxxxxx        xxxxxx         xxxxxx         xxxxxx         xxxxxx   &kp BSPC           ______   xxxxxx         xxxxxx         xxxxxx         xxxxxx         xxxxxx         xxxxxx
                            xxxxxx         &kp LALT     &kp LGUI       &kp ENTER                              ______         ______         ______         xxxxxx
            >;
        };
        num_layer {
            bindings = <
 ______      xxxxxx        xxxxxx        xxxxxx         xxxxxx         xxxxxx                          xxxxxx        xxxxxx         xxxxxx         xxxxxx         xxxxxx         xxxxxx 
 ______      xxxxxx        &kp N1        &kp N2         &kp N3         xxxxxx                          xxxxxx        xxxxxx         xxxxxx         xxxxxx         xxxxxx         xxxxxx 
 ______      &kp N0        &kp N4        &kp N5         &kp N6         xxxxxx                          xxxxxx        xxxxxx         xxxxxx         xxxxxx         xxxxxx         xxxxxx 
 ______      xxxxxx        &kp N7        &kp N8         &kp N9         xxxxxx     &kp BSPC       ______   xxxxxx        xxxxxx        &kp COMMA     &kp DOT      &kp FSLH        &kp RSHFT
                         xxxxxx           &kp LALT     &kp LGUI       &kp ENTER                          ______         ______         ______         xxxxxx
            >;
        };
    };
};
